<!DOCTYPE html>
<html>
<meta charset="UTF-8"/>
<style>
        {{{style}}}
</style>
<title>{{pkg.name}}</title>
<link rel="icon" href="./favicon.png"/>
<body>
<header>
    <div class="container">
        <h1>Documents of {{pkg.name}}</h1>
    </div>
</header>
<main>
    <div class="container">
        <ul>
            <li><a href="./apiguide/index.html">API Guide</a></li>
            <li><a href="./reports/coverage/lcov-report/index.html">Coverage Report</a></li>
        </ul>
    </div>
</main>
<footer>
    <div class="container">
        <span>
            @ 2015 Taka Okunishi
        </span>
        <span><a class="nav-item" href="{{pkg.homepage}}">Homepage</a></span>
    </div>
</footer>
</body>
</html>